body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: azure;
}

header {
    background: rgb(130, 22, 22);
    color: white;
    padding: 10px;
}

.principal img {
    top: 20px;
    width: 100%;
    max-width: 600px;
}

.noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.noticias div {
    width: 200px;
}

.noticias img {
    width: 100%;
}

.imagen-grande img {
    width: 90%;
}

.galeria img {
    width: 45%;
    margin: 2%;
}

footer {
    background: rgb(42, 37, 37);
    color: white;
    padding: 10px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .noticias {
        flex-direction: column;
        align-items: center;
    }
    
    .galeria img {
        width: 90%;
    }
}